 <%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>



     <div id="wrapper">

        <h1>Contact Me</h1>


        <form action="mailto:e.omar74x@gmail.com?subject=Form-response" method="post" enctype="text/plain" name="form">


            <p>
                <label id="name">Name</label>
                <input type="text" name="Name" placeholder="Your Name." size="32" required>
            </p>
            <p>
                <label id="email">E-mail</label>
                <input type="email" name="Email" placeholder="Your e-mail." size="32" required>
            </p>

            <p>
                <label id="phonenumber">Number</label>
                <input type="tel" name="Telephone" placeholder="Your phone number." size="32" required>
            </p>

        

            <p>
                <label id="comments">Comments</label>
                <br>
                <textarea name="comments" cols="60" rows="10" placeholder="Enter your comment here."></textarea>
            </p>

            <p>
                <input type="reset" value="Click to reset the form">
             </p>

            <p>
                <input type="submit" value="Submit">
             </p>




        </form>



    </div>







    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>