 <%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>



<body>

<section id="Home">
    <h1>Omar Elanany</h1>
    <h4>Hi!</h4>
    <p>
        I’m Omar Elanany! I’m a second-year student at Ontario Tech University, specializing in Networking and IT Security. 
        With a passion for technology and cybersecurity, I’m actively building skills to tackle the challenges of the digital world. 
        My goal is to contribute to innovative tech solutions that secure and optimize our digital infrastructure. 
        Whether it’s mastering the intricacies of network protocols or exploring the latest in cybersecurity defense, 
        I’m driven to make an impact in the tech industry.
    </p>
    <p>Follow me on LinkedIn:</p>
    <a target="_blank" href="https://www.linkedin.com/in/omar-e-3b0836274/"> 
        <img id="linkedin" src="\Asssets\images\linkedin.png" alt="LinkedIn">
    </a>
</section>



    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>

</body>
