 <%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>
  <div class="header-container">

        <h1 id="project-head">Projects</h1> 
    </div>

    


    <div class="project">


        <h3>Project #1</h3>

        <h4> Intro to Networking I: Case Study</h4>

        <p>Final project done for INFR 1421U</p>


       
       
        <a target="_blank" href="https://drive.google.com/file/d/15DqD2K2AEJhFuf8zVGKakEMvnSuTd-St/view?usp=sharing">
        <button>Check it out
        </button>
        
        </a>
        



    </div>

    <div class="project">

        <h3>Project #2</h3>

        <h4> Intro to Networking II: Case Study</h4>


        <p>Final project done for INFR 1421U</p>

      

        <a target="_blank" href="https://drive.google.com/file/d/12tFHvNbWDFmKUM7IERi4amD-g79ihPgy/view?usp=sharing">

            <button>Check it out</button>
        
        </a>



    </div>

    <div class="project">

        <h3>Project #3</h3>

        <h4> Encryption Algorithm </h4>

         <p>Final project done for INFR 2141U</p>

        <a target="_blank" href="https://docs.google.com/document/d/177dfLETHRozfFibIHOF5Agq40L9uDzhEMxdKhu87Ipg/edit?usp=sharing">

        <button>Check it out</button>

        </a>

    


        
    </div>



    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>
