 <%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>
<section>
    <h1>My Projects</h1>
    <ul>
        <li>Project 1: Description</li>
        <li>Project 2: Description</li>
        <li>Project 3: Description</li>
    </ul>
</section>



    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>
